/* Not all of these classes will be utilizedin this bootstrap version,
* and some are overridden by bootstrap.css */

.topContainer {
	background-color: white;
	width: 100%;
	height:72px;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 999;
}

h1, h2, h3, h4 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #2626f7!important;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
}

.myHeader {
	display: flex;
	width: 960px;
	background-color: white;
	z-index: 999;
	height: 72px;
	position: fixed;
}

header a {
	z-index: 999;
}

.myNav {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;

}

.myNav-ul {
	display: flex;
	align-items: center;
}

.myNav-li {
	display: flex;
	margin-left: 20px;
}

#navhr {
	position: fixed;
	top: 64px;
	width: 100%;
	border: 1px solid #dddddd;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a img:hover {
	-ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
	transform: rotate(15deg);
}

body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background: url("../images/gaming-pattern.png");
	margin-bottom: 110px;
	padding-top: 40px;
}

.me {
	color: white!important;
	background-color: #2626f7;
	padding: 13px;
	position: fixed;
}

.mainArea {
	width: 960px;
	flex: 1 0 auto;
	position: relative;
	top: 90px;
	margin: auto;
}

#profilepic {
	transform: rotate(-90deg);
	height: 150px;
	/* float: left; */
	margin: 50px 20px 40px 0;
	/* z-index: auto; */
}

p {
	padding: 10px;
}

.myArticle {
	background: rgba(255, 255, 255, 0.6);
}

.myArticle h1 {
	color: #2626f7;
	padding: 20px;
}

.myAside {
	width: 270px;
	background: white;
	border: 2px solid #dddddd;
	float: right;
	text-align: center;
	padding-top: 20px;
}

.myAside h2 {
	color: #2626f7;
	padding-bottom: 10px;
}

.bodyHR {
	width: 95%;
	border: 1px solid #dddddd;
}

.asideHR {
	width: 80%;
	border: 1px solid #dddddd;
}

.asideImg {
	width: 65px;
	padding: 20px 2px 40px 2px;
}

.footer {
	color: white;
	font-size: 12px;
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: 6px solid #2626f7;
	background-color: #302f2f;
	padding-top: 6px;
}

.contactForm {
	margin: 20px;
	
}

.contactForm input, textarea {
	border: 1.25px solid #dddddd;
	width: 100%;
}

.contactForm p {
	padding: 10px 0 10px 0;
}

.contactForm input {
	height: 25px;
}

.contactForm input::placeholder {
	color: #dddddd;
	padding: 10px 0 10px 10px;
}

textarea {
	height: 195px;
}

input[type=submit] {
	background-color: #2626f7;
	border: none;
	color: white;
	text-decoration: none;
	margin: 20px 0 20px 0;
	cursor: pointer;
	width: 112px;
	font-size: 16px;
	height: 40px;
}

.appImgContainer {
	display: flex;
	flex-wrap: wrap;
	/* margin: 28px; */
}

.appIcon {
	width: 200px;
	margin: 20px 15px;
}

figcaption h2 {
	color: white!important;
	background-color: #2626f7;
	text-align: center;
	padding: 16px 0;
	position: relative;
	top:-115px;
	width: 200px;
	margin: auto;
}

.navbar-brand {
	z-index: 999;
	font-size: 2em;
	font-weight: bold;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.sidePanel {
	padding-top: 40px;
}

@media screen and (min-width: 992px) {
	.appImgContainer {
		width: 150%;
	}
}